In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [4]:
df['D'] = (df['A'] + df['B']) * df['C'] 
df

   A  B  C   D
0  1  4  7  35
1  2  5  8  56
2  3  6  9  81