In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'A': [1, -3, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)
df

   A  B  C
0  1  4  7
1 -3  5  8
2  3  6  9

In [2]:
df['A'] = df['A'].map({1: 'A', 2: 'B', 3: 'C'})
df

     A  B  C
0    A  4  7
1  NaN  5  8
2    C  6  9

In [3]:
def custom_map(val):

    if val <= 3:
        return 'A'
    if val > 3 and val <= 6:
        return 'B'
    if val > 6:
        return 'C'

In [4]:
df['B'] = df['B'].map(custom_map)
df['C'] = df['C'].map(custom_map)

df

     A  B  C
0    A  B  C
1  NaN  B  C
2    C  B  C